<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>New Leave Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div id="leaveFormDiv" align="center">
    <h3 style="margin-top: 20px; margin-left: 10px" align="left">New Leave Request</h3>
    <form action="#" th:action="@{'/api/v1/company_management_system/employee_leaves/' + ${username}}" th:object="${leaveDTO}" method="post">
        <table>
            <tr>
                <td style="width: 250px">
                    <label for="start" class="col-form-label">Start Date Time</label>
                    <input type="datetime-local" th:field="*{startDateTime}" class="form-control" id="start" placeholder="Start Date Time">
                </td>
                <td style="width: 250px">
                    <label for="end" class="col-form-label">End Date Time</label>
                    <input type="datetime-local" th:field="*{endDateTime}" class="form-control" id="end" placeholder="End Date Time">
                </td>
                <td style="width: 250px">
                    <label for="type" class="col-form-label">Leave Type</label>
                    <select id="type" th:field="*{leaveType}" class="form-control">
                        <option th:each="leaveType : ${leaveTypes}" th:value="${leaveType}" th:text="${leaveType.toString()}"></option>
                    </select>
                </td>
                <td style="width: 50px">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </td>
            </tr>
        </table>
    </form>
    <span th:text="${errorMessage}" class="text-danger"></span>
    <span th:text="${overlappedStartDateTime}" class="text-danger"></span>
    <span th:text="${overlappedEndDateTime}" class="text-danger"></span>
</div>
<hr style="border: none; border-bottom: 1px solid black; width: 90%; align-self: start">
<div id="leavesTableDiv" align="center">
    <h4 style="margin-top: 20px; margin-left: 10px" align="left">Your Leave Requests</h4>
    <table class="table table-striped table-responsive-md" style="width: 90%">
        <colgroup>
            <col style="width: 20px">
            <col style="width: 60px">
            <col style="width: 60px">
            <col style="width: 60px">
            <col style="width: 60px">
            <col style="width: 60px">
        </colgroup>
        <thead>
        <tr>
            <th style="border-right: 1px solid gray; text-align: center"></th>
            <th style="border-right: 1px solid gray; text-align: center">Start Date Time</th>
            <th style="border-right: 1px solid gray; text-align: center">End Date Time</th>
            <th style="border-right: 1px solid gray; text-align: center">Leave Type</th>
            <th style="border-right: 1px solid gray; text-align: center">Leave Status</th>
            <th style="border-right: 1px solid gray; text-align: center">Delete Request</th>
        </tr>
        </thead>
        <tbody>
        <tr style="height: min-content" th:each="leave, leaveIndex : ${leaves}">
            <td style="border-right: 1px solid gray; text-align: center" th:text="${leaveIndex.index + 1}"></td>
            <td style="border-right: 1px solid gray; text-align: center" th:text="${leave.getStartDateTime()}"></td>
            <td style="border-right: 1px solid gray; text-align: center" th:text="${leave.getEndDateTime()}"></td>
            <td style="border-right: 1px solid gray; text-align: center" th:text="${leave.getLeaveType()}"></td>
            <td style="border-right: 1px solid gray; text-align: center" th:text="${(leave.getIsAccepted() == null)? 'Unchecked'
                    : ((leave.getIsAccepted())? 'Accepted': 'Rejected')}"></td>
            <td style="border-right: 1px solid gray; text-align: center">
                <a th:if="${leave.getIsAccepted() == null}" th:href="@{'/api/v1/company_management_system/delete_leave/' + ${username} + '/' + ${leave.getId()}}" class="btn btn-primary"><i class="fas fa-trash-alt ml-2"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p class="my-5" style="margin-left: 15px">Back To Profile<a th:href="@{'/api/v1/company_management_system/employee_profile/' + ${username}}" class="btn btn-primary"><i class="fas fa-arrow-left ml-2"></i></a></p>
</body>
</html>